h1 {
    text-align: center;
    color: cornflowerblue;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .sticky-footer {
    margin-top: auto;
    background-color: #dad71b; /* Change background color as needed */
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e7e7e7; /* Optional: Add border-top for visual separation */
  }
 
  nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

body {
  background-color: lightblue;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}
